<div class="img-background pt-60 pb-60 pt-sm-40 pb-sm-40 light-grey-background" style = "background-image: url(/assets/images/purple-background.jpg)">
  <div class="marketplace-block ml-auto mr-100  pl-60 pr-60 pt-70 pb-60 text-center pr-md-20 pl-md-20 pt-sm-60 pb-sm-50 waypoint-transition slide-up">
    <h2 class="purple mb-10 smol "><a href="{{block.linkUrl }}" class="purple">{{ block.header }}</a></h2>
    <p class = "mb-40 mb-md-20">{{ block.description }}</p>
    <a href="{{ block.linkUrl}}" class="purple-link purple">Read More</a>
  </div>
</div>
