<div class="pt-80 pb-50 dark-purple-background relative hidden-overflow">
	<div class="cross-background"></div>
	<div class="container">
		<div class="text-center relative">
			<h3 class="white">The future of banking is here. Be ready for what’s next.</h3>
		</div>
		<div class="row">
			<div class="col-md-6 text-center right-white-border no-right-border-md pt-30 pb-30 mt-50 mb-40 mb-sm-20 pt-sm-0 pb-sm-0 mt-sm-20 ">
				<p class="white mb-15 waypoint-transition slide-up">Request More information</p>
				<a class="btn mr-10 purple  waypoint-transition slide-up" href="http://forms.kony.com/digital-banking-en-contact.html" target = "_blank" >Talk to an Advisor</a>
			</div>
			<div class="col-md-6 text-center pt-30 pb-30 mt-50 mb-40 mt-sm-0 mb-sm-0 ">
				<p class="white mb-15 mb-xs-0 waypoint-transition slide-up">Sign up for the latest from Kony DBX</p>
				<div class="newsletter-signup waypoint-transition slide-up">
					<form id="mktoForm_2761" name="mktoForm_2761"></form>
				</div>
			</div>
		</div>
	</div>
</div>
<footer class="">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-12">
				<form action="{{ url('search') }}" class="header__search search" id="kony-footer-search-form">
					<div class="form-item form-type-textfield form-item-search form-group">
	    <input type="input" name="q"  class="ui-autocomplete-input form-control form-text" id="edit-search" placeholder="Search Kony DBX">
				</div>
					<div class="search-icon">
							<i class="fa fa-search"></i>
	    	<input type="submit" value="Go" class="header__search__submit form-submit btn btn-default btn-primary" id="edit-submit">
				</div>
					</form>
			</div>
			<div class="col-lg-6 col-md-12 center-lg mt-lg-30">
				<div class="footer__social">
					<div class="item-list">
						<ul class="mt-0 mb-0 pl-0">
							<li class="twitter first">
								<a href="https://Twitter.com/KonyDBX" target="_blank"><span class="fa-stack icon-stack"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-twitter fa-stack-1x fa-inverse fa-lg icon-light"></i></span></a>
							</li>
							<li class="facebook">
								<a href="https://www.facebook.com/pages/Kony/130841488764" target="_blank"><span class="fa-stack icon-stack"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-facebook fa-stack-1x fa-inverse fa-lg icon-light"></i></span></a>
							</li>
							<li class="linkedin">
								<a href="https://Linkedin.com/showcase/kony-dbx/" target="_blank"><span class="fa-stack icon-stack"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-linkedin fa-stack-1x fa-inverse fa-lg icon-light"></i></span></a>
							</li>
							<li class="youtube">
								<a href="https://www.youtube.com/user/KonySolutionsTV" target="_blank"><span class="fa-stack icon-stack"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-youtube-play fa-stack-1x fa-inverse fa-lg icon-light"></i></span></a>
							</li>

							<li class="glassdoor last">
								<a href="https://www.glassdoor.com/Overview/Working-at-Kony-EI_IE306538.11,15.htm" target="_blank"><span class="fa-stack icon-stack"><i class="fa fa-circle fa-stack-2x"></i> <i class=" fa icon-glassdoor fa-stack-1x fa-inverse fa-lg"></i></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-sm-12 footer__content">
				<p class="copyrights mb-0">© Copyright {{ now | date("Y") }} Kony, Inc. All rights reserved. Various trademarks held by their respective owners.</p>
				<div class="item-list">
					<ul class="footer__fineprint text-center mb-0 mt-0 pl-0">
						<li class="first last privacy-policy text-center block">
							<a class="white" href="https://www.kony.com/privacy-statement">Privacy Statement</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-backdrop">
		<div class="modal-container relative">
			<div class="close-btn">
				<svg height="75px" version="1.1" viewbox="0 0 75 75" width="75px" xmlns="http://www.w3.org/2000/svg">
				<g fill="#FFFFFF" id="About-Propel" transform="translate(-758.000000, -755.000000)">
					<g id="imgLeft" transform="translate(0.000000, 394.000000)">
						<g id="close" transform="translate(756.000000, 359.000000)">
							<rect height="10.1819805" id="Rectangle-5" rx="5.09099026" transform="translate(39.500000, 39.500000) rotate(45.000000) translate(-39.500000, -39.500000)" width="101.540891" x="-11.2704455" y="34.4090097"></rect>
							<rect height="10.1819805" id="Rectangle-5" rx="5.09099026" transform="translate(39.500000, 39.500000) rotate(-45.000000) translate(-39.500000, -39.500000)" width="101.540891" x="-11.2704455" y="34.4090097"></rect>
						</g>
					</g>
				</g></svg>
			</div>
			<div class="video-wrapper">
				<iframe frameborder="0" src=""></iframe>
			</div>
		</div>
	</div>
	<div class="contact-modal flex align-center justify-center">
		<div class="contact-bg"></div>
		<div class="close">
			<svg height="33px" version="1.1" viewbox="0 0 33 33" width="33px" xmlns="http://www.w3.org/2000/svg">
			<desc>
				Created with Sketch.
			</desc>
			<defs></defs>
			<g fill="none" fill-rule="evenodd" id="Design" stroke="none" stroke-width="1">
				<g fill="#FFFFFF" id="contact" transform="translate(-1280.000000, -176.000000)">
					<polygon id="Page-1" points="1307.21034 176 1296.5 186.710344 1285.78966 176 1280 181.789656 1290.71089 192.499454 1280 203.210344 1285.78966 209 1296.5 198.28911 1307.21034 209 1313 203.210344 1302.28966 192.499454 1313 181.789656"></polygon>
				</g>
			</g></svg>
		</div>
		<div class="contact-modal-container">
			<h5 class="text-uppercase white">How can we help you?</h5>
			<hr class="white mb-40">
			<h3 class="mb-40"><a class="white arrow-link" href="http://forms.kony.com/digital-banking-en-contact.html"  target = "_blank">Contact an Advisor</a></h3>
			<h3 class="mb-40"><a class="white arrow-link" href="https://basecamp.kony.com/s/dbx">Get Support</a></h3>
			<div class="contact-social flex flex-end">
				<h3 class = "white">Connect with us:</h3>
				<a class="mr-10 ml-15" href="https://www.facebook.com/KonyInc" target = "_blank">
					<img alt="facebook link" src="/assets/icons/contact-facebook.svg">
				</a>
				<a class="mr-10 ml-15" href="https://www.linkedin.com/showcase/kony-dbx/"  target = "_blank">
					<img alt="linkedin link" src="/assets/icons/contact-linkedin.svg">
				</a>
				<a class="mr-10 ml-15" href="https://twitter.com/KonyDBX"  target = "_blank">
					<img alt="twitter link" src="/assets/icons/contact-twitter.svg">
				</a>
			</div>
		</div>
	</div>
	<div class="video-backdrop">
		<div class="video-container relative">
			<svg class="close-btn" height="75px" version="1.1" viewbox="0 0 75 75" width="75px" xmlns="http://www.w3.org/2000/svg">
			<g fill="#FFFFFF" id="About-Propel" transform="translate(-758.000000, -755.000000)">
				<g id="imgLeft" transform="translate(0.000000, 394.000000)">
					<g id="close" transform="translate(756.000000, 359.000000)">
						<rect height="10.1819805" id="Rectangle-5" rx="5.09099026" transform="translate(39.500000, 39.500000) rotate(45.000000) translate(-39.500000, -39.500000)" width="101.540891" x="-11.2704455" y="34.4090097"></rect>
						<rect height="10.1819805" id="Rectangle-5" rx="5.09099026" transform="translate(39.500000, 39.500000) rotate(-45.000000) translate(-39.500000, -39.500000)" width="101.540891" x="-11.2704455" y="34.4090097"></rect>
					</g>
				</g>
			</g></svg>
			<div class="video-wrapper">
				<iframe frameborder="0" src=""></iframe>
			</div>
		</div>
	</div>
</footer>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>
<script src="/assets/js/jquery.waypoints.min.js"></script>




<script>



$(document).ready(function(){

	var $window = $(window);
	var lastScrollTop = 0;


	  $window.scroll(function() {
	  if(  $window.scrollTop() > 200  ){
	  $("body").addClass("scrolling");
	    $(".search-drop").removeClass("dropped");

	    var st = $(this).scrollTop();
	      if (st > lastScrollTop){
	            $("body").removeClass("up");
	      } else {
	          $("body").addClass("up");
	      }
	      lastScrollTop = st;
	}
	else{
	$("body").removeClass("scrolling");

	}
	  })


$(".alert-btn").click(function(){
	$(this).toggleClass("active");
		$(".alert").toggleClass("active");
	if($(this).hasClass("active")){
		$(this).css("bottom", 	$(".alert").height() + 20 + "px");
	}
	else{
		$(this).css("bottom", "20px");
	}

})


$(".img-carousel").slick({
	slidesToShow: 4,
	prevArrow: $( '.connect-prev' ),
	nextArrow: $( '.connect-next' ),
	responsive: [
	 {
		 breakpoint: 1360
		 , settings: {
			 slidesToShow: 3
			 , slidesToScroll: 1
		 }
 },
 {
	 breakpoint: 760
	 , settings: {
		 slidesToShow: 1
		 , slidesToScroll: 1
	 }
}



],


})



	$( ".slider-2" )
		.slick( {
			slidesToShow: 5
			, prevArrow: $( '.client-prev' )
			, nextArrow: $( '.client-next' )
			, dots: true
			, responsive: [
				{
					breakpoint: 1440
					, settings: {
						slidesToShow: 4
						, slidesToScroll: 1
					}
	    },

				{
					breakpoint: 991
					, settings: {
						slidesToShow: 3
						, slidesToScroll: 1
					}
	    },

				{
					breakpoint: 700
					, settings: {
						slidesToShow: 2
						, slidesToScroll: 1
					}
	    }
	  ]
		} );
	$( ".testimonial-slider" )
		.slick( {
			slidesToShow: 1
			, prevArrow: $( '.prev-test' )
			, nextArrow: $( '.next-test' )
			, dots: true
		} );
	$( ".slick-testimonials" )
		.slick( {
			prevArrow: $( '.test-prev' )
			, nextArrow: $( '.test-next' )
			, slidesToShow: 3
			, dots: true
			, responsive: [
				{
					breakpoint: 1200
					, settings: {
						slidesToShow: 2
						, slidesToScroll: 1
					}
	    },

				{
					breakpoint: 991
					, settings: {
						slidesToShow: 1
						, slidesToScroll: 1
					}
	    }
	  ]
		} );
	$( ".nav-toggle" )
		.click( function() {
			$( ".main-nav" )
				.toggleClass( "opened" );
			$( this )
				.toggleClass( "opened" );
			if ( !$( this )
				.hasClass( "opened" ) ) {
				$( ".contact-modal" )
					.removeClass( "opened" );
			}
		} )
	if ( $( ".nav-toggle" )
		.css( "display" ) == "block" ) {
		$( ".has-drop > a" )
			.click( function( e ) {
				e.preventDefault();
				$( this )
					.parent()
					.find( ".drop" )
					.addClass( "opened" );
			} )
		$( ".back" )
			.click( function( e ) {
				e.preventDefault();
				$( this )
					.parents( ".drop" )
					.removeClass( "opened" );
			} )
	}
	$( ".contact-btn" )
		.click( function( e ) {
			e.preventDefault();
			$( ".contact-modal" )
				.toggleClass( "opened" );
		} )
	$( ".close" )
		.click( function() {
			$( ".contact-modal" )
				.toggleClass( "opened" );
		} )
	$( ".video-btn" )
		.click( function( e ) {
			var leg = $( this )
				.data( "link" ) + "?rel=0&autoplay=1";
			e.preventDefault();
			$( ".video-backdrop" )
				.addClass( "show-me" );
			$( ".video-backdrop iframe" )
				.attr( "src", leg );
		} )
	$( ".video-backdrop" )
		.click( function() {
			$( ".video-backdrop" )
				.removeClass( "show-me" );
			$( ".video-backdrop iframe" )
				.attr( "src", "" );
		} )
	var page = 2;
	$( 'body' )
		.on( 'click', '.load-more-btn', function() {
			$( ".loading-container" )
				.addClass( "show-me" );
			var response;
			$.ajax( {
				type: "GET"
				, url: $(this).data("page") + page
				, dataType: 'html'
				, success: function( response ) {
					page++;
					refreshProjects( response );
				}
			} )
		} )

	function refreshProjects( response ) {
		$( ".load-more-btn" )
			.remove();
		$( '.post-list' )
			.append( '<div class = "row ">' + response + '</div>' );
		$( ".loading-container" )
			.removeClass( "show-me" );
	}
	$( ".select-filter" )
		.change( function() {
			$( ".loading-container" )
				.addClass( "show-me" );
			var cat = $( this )
				.val();
			var response;
			$.ajax( {
				type: "GET"
				, url:  $( this )
					.val()
				, dataType: 'html'
				, success: function( response ) {
					page = 2;
					filterProjects( response, cat );
				}
			} )
		} )

	function filterProjects( response, cat ) {
		$( ".load-more-btn" )
			.remove();
		$( '.post-list' )
			.replaceWith( '<div class = "post-list  mb-100"><div class = "row ">' + response + '</div></div>' );

		if ( cat == "All" ) {
			$( ".load-more-btn" )
				.show();
		}
		$( ".loading-container" )
			.removeClass( "show-me" );
	}
	$( "body" )
		.on( "focus, click", ( "#Email" ), function() {
			$( this )
				.siblings( "label" )
				.css( "opacity", "0" );
		} )
	$( ".waypoint-transition" )
		.each( function() {
			var self = $( this );
			var waypoint = new Waypoint( {
				element: self
				, handler: function( direction ) {
					self.removeClass( "slide-left" )
						.removeClass( "slide-up" )
						.removeClass( "slide-right" );
				}
				, offset: '90%'
			} )
		} )
	} )



$(".question-holder .next-btn").click(function(e){
	e.preventDefault();
	console.log("click");

		var holder = 	$(this).parents(".question-holder");

	if ( holder.find("input:checked").length > 0) {




			$("#form-input-total").val(parseInt($("#form-input-total").val()) +  parseInt(holder.find("input:checked").data("value")));
			console.log( $("#form-input-total").val() );
			holder.removeClass("active").next(".question-holder").addClass("active");
			var num = 	$(".active.number");
			num.removeClass("active");
			num.next().addClass("active");
}

else{
		window.alert("please select a value");
}






})




</script>
<script src="//app-ab32.marketo.com/js/forms2/js/forms2.min.js"></script>
<script>MktoForms2.loadForm("//app-ab32.marketo.com", "241-GBN-089", 2761);</script>
</body>
