{% extends "_layouts/main" %}

{% block main %}

  {% for block in entry.videoBanner %}
    <div class="">
    <div class="video-banner" {% if block.backgroundImage | length %}style = "background-image:url({{ block.backgroundImage.one.url }})"{% endif %}>
      <div class="inner">
    <a data-link="{{ block.embeddedUrl }}" class="btn purple video-btn">{{ block.buttonText }}</a>      </div>
    </div>
    </div>
  {% endfor %}


    <div class="flex customers-page">


      <div class="main-container pt-80 pb-70 pt-md-40 pb-lg-50 blog ">
        <div class="inner">
          <div class="sticky-share text-center">
            <h6 class="purple text-uppercase mb-10">Share</h6>
            <a href="#" onclick="window.open('https://twitter.com/home?status={{   entry.title|url_encode }}{{   entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" target="_blank">
              <img src="/assets/icons/purple-twitter.svg" alt="Puprle Twitter">
            </a>
            <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{   entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
              <img src="/assets/icons/purple-facebook.svg" alt="Facebook">
            </a>
            <a href="#" onclick="window.open('https://plus.google.com/share?url={{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
              <img src="/assets/icons/purple-googleplus.svg" alt="Google Plus">
            </a>
            <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{   entry.getUrl() }}&title={{   entry.title }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
              <img src="/assets/icons/purple-linkedin.svg" alt="Linked In">
            </a>

          </div>


      <h1 class="purple mb-30 h2">{{ entry.title }}</h1>
      <h4 class="black mb-40">{{ entry.header }}</h4>
      <div class="blog-post">
      <p>{{ entry.text }}</p>
      </div>
      <a href = "{{ entry.caseStudyLink }}" class="orange-btn purple mt-30">{% if entry.buttonText | length  %}{{ entry.buttonText }}{% else %}Download the Full Case Study{% endif %}</a>
      </div>

      </div>

      <div class="sidebar pt-60 pb-80 pb-lg-50 pr-30 pr-sm-0 pl-30">
        <div class="inner">
          <div class="text-center mb-40">
            <img src="{{ entry.logo.one.url }}" alt="{{ entry.logo.one.title }}">
          </div>
          {% for row in entry.customersSidebar %}
          {% if row.type == "text" %}
          <div class = "mb-40">
            <h4 class="lavendar">{{ row.header }}</h4>
            <hr class="purple">
            <p class="white">{{ row.body }}</p>
          </div>
            {% elseif row.type == "iconList" %}
          <div class = "mb-40 flex">
            <div class="md-icon mr-20">
            {% for icon in row.icon %}  <img src="{{ icon.url }}" alt="{{ icon.title  }}"> {% endfor %}
            </div>
            <p class="white">{{ icon.description }}</p>
          </div>
          {% else %}
          <div class = "mb-40">
            <h4 class="lavendar">{{ row.header }}</h4>
            <hr class="purple">
            <ul class = "pl-15">
              {% for bullet in row.list %}
              <li class="white mb-10">
              {{ bullet.bullet }}
              </li>
              {% endfor %}

            </ul>
          </div>
          {% endif %}


          {% endfor %}
        </div>
      </div>




    </div>


      <div class="img-background pt-100 pb-100 pt-lg-70 pb-lg-30 pt-sm-30 pb-md-30 pr-sm-0 pl-sm-0" style = "background-image: url(/assets/images/testimonial-bg.jpg)">
          <div class="small-container testimonial-container relative pr-xl-90 pl-xl-90 pr-lg-50 pl-lg-50  pr-md-25 pl-md-25 pr-sm-5 pl-sm-5">
            <div class="testimonial-slider">
              {% for testimonial in entry.testimonials.all() %}
              <div class="slide text-center pt-20 pb-20">
                {% if testimonial.testimonialLogo | length %}<img src="{{ testimonial.testimonialLogo.one().url }}" alt="{{ testimonial.testimonialLogo.one().title }}" class = "mb-40"> {% endif %}
                <p class="large mb-50 mb-sm-30">{{ testimonial.testimonial  |striptags }}</p>
                <cite>{{ testimonial.testimonialCitation  }}</cite>
                <cite class = "position">{{ testimonial.testimonialPosition }}</cite>
              </div>
              {% endfor %}
            </div>
          <div class="next next-test"><img src="/assets/icons/carousel-arrow-r.svg" alt="arrow r"></div>
          <div class="prev prev-test"><img src="/assets/icons/carousel-arrow-l.svg" alt="arrow l"></div>
          </div>
      </div>


    {% for benefits in entry.benefits %}
    <div class="pt-80 pb-50 pt-lg-50 pb-lg-50 dark-purple-background relative hidden-overflow">
      <div class="cross-background">
        </div>
        <div class="small-container">
          <div class="row align-center">
            <div class="col-lg-6 text-center mb-lg-30">

              <img src="/assets/images/phone-background-image-thing.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h2 class="white mb-10">{{ benefits.header }}</h2>
              <p class=" white">{{ benefits.subheader }}</p>
              <ul class = "pl-15">
                {% for row in benefits.list  %}
                <li class="white mb-30 ">{{ row.bullet }}</li>
                {% endfor %}
              </ul>
              <a href = "{{ entry.caseStudyLink }}" class="orange-btn purple ">Download the Full Case Study</a>

            </div>
          </div>
        </div>

    </div>
    {% endfor %}


    <div class="container pt-120 pb-120 pt-lg-60 pb-lg-60 pb-mb-40">
      <div class="text-center">
        <h2 class="purple mb-70 mb-sm-40">Expertise & Research</h2>
      </div>
      <div class="row">
        <div class="row">
          {% if entry.relatedPosts | length %}
            {% set posts = entry.relatedPosts %}
          {% else %}
            {% set posts =  craft.entries.section("trendsAndInsights").orderBy("postdate desc").limit(3) %}
          {% endif %}
          {% for post in posts.all  %}
            {% include "_partials/blog-post" %}
          {% endfor %}
        </div>
      </div>
    </div>



{% endblock %}
