{% extends "_layouts/main" %}

{% block main %}




    <div class="flex customers-page ">


      <div class="main-container pt-80 pb-70 pt-md-40 pb-lg-50 pt-lg-40 blog ">
        <div class="inner">
        <div class="sticky-share text-center">
      <h6 class="purple text-uppercase mb-20">Share</h6>
      <a href="#" onclick="window.open('https://twitter.com/home?status=CUNA%20Governmental%20Affairs%20Conferencehttps://dbx.kony.com/news-and-events/cuna-governmental-affairs-conference','share','resizable,height=360,width=470'); return false;" target="_blank">
        <img src="/assets/icons/purple-twitter.svg" alt="Puprle Twitter">
      </a>
      <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dbx.kony.com/news-and-events/cuna-governmental-affairs-conference','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
        <img src="/assets/icons/purple-facebook.svg" alt="Facebook">
      </a>
      <a href="#" onclick="window.open('https://plus.google.com/share?url=https://dbx.kony.com/news-and-events/cuna-governmental-affairs-conference','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
        <img src="/assets/icons/purple-googleplus.svg" alt="Google Plus">
      </a>
      <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https://dbx.kony.com/news-and-events/cuna-governmental-affairs-conference&amp;title=CUNA Governmental Affairs Conference','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
        <img src="/assets/icons/purple-linkedin.svg" alt="Linked In">
      </a>

    </div>


      <h2 class="purple mb-30">PSECU Accelerates Digital Innovation with Kony to Improve Member Experience</h2>
      <h4 class="black mb-40">A lot can happen in 84 years.</h4>
      <p>When 22 people pooled $90 to found PSECU in 1934, they certainly couldn’t have foreseen their cooperative financing effort turning into Pennsylvania’s largest credit union, with more than 440,000 members, 1,500 business clients, and over $5.3 billion in assets. Nor could they have predicted that one day, their members wouldn’t even have to come to a branch, but instead would pull a small device out of their pockets and use it to take care of all their banking needs. <br>
Fast forward to today, and PSECU, which has long embraced technology in lieu of a network of branches, has evolved into a beacon of digital banking, turning those devices into pocket branches. PSECU has a digital application that offers members state-of-the-art capabilities, a platform-centric strategy enabling it to bring new features and capabilities to market quicker, and an innovation initiative designed to further fuel its development efforts in a way that’s more responsive to member wants and needs.</p>
      <a href = "" class="orange-btn purple mt-30">Download the Full Case Study</a>
      </div>

      </div>

      <div class="sidebar pt-60 pb-80 pb-lg-40">
        <div class="inner pr-30 pl-30 pl-sm-0 pr-sm-0">
          <div class="text-center mb-40">
            <img src="/assets/logos/DBS-logo Copy.svg" alt="">
          </div>


          <div class = "mb-40 flex">
            <div class="md-icon mr-20">
              <img src="/assets/icons/globe-icon.svg" alt="">
            </div>
            <p class="white">Provide global coverage and experience to support your ever-expanding business</p>
          </div>
          <div class = "mb-40 flex">
            <div class="md-icon mr-20">
              <img src="/assets/icons/check-icon.svg" alt="">
            </div>
            <p class="white">Deliver high-value and high-quality solutions</p>
          </div>
          <div class = "mb-40 flex">
            <div class="md-icon mr-20">
              <img src="/assets/icons/phone-icon.svg" alt="">
            </div>
            <p class="white">Have industry-specific knowledge and technology to deliver focused mobile solutions</p>
          </div>
        </div>
      </div>




    </div>

    <div class="img-background pt-100 pb-100 pt-lg-70 pb-lg-30 pt-sm-30 pb-md-30 pr-sm-0 pl-sm-0" style = "background-image: url(/assets/images/testimonial-bg.jpg)">
         <div class="small-container testimonial-container relative pr-xl-90 pl-xl-90 pr-lg-50 pl-lg-50  pr-md-25 pl-md-25 pr-sm-5 pl-sm-5">
           <div class="testimonial-slider">
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/partners-logo.svg" alt="Partners Logo" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“Many times in the credit union movement we pick somebody who is close, who is familiar, an incumbent. Kony is a market-leading group that wasn&#039;t an obvious pick for us, but through our scan they really popped as somebody who&#039;s going to differentiate.”</p>
               <cite>John Janclaes</cite>
               <cite class = "position">President and CEO</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/hancock-whitney-109.svg" alt="Hancock Whitney 109" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“With Kony’s market-leading platform, professional expertise and commitment to service, we can deliver beautiful, easy-to-use apps that delight our clients and attract new clients. With Kony, Hancock has made a huge leap forward in digital banking, and we look forward to leveraging the newest capabilities of Kony’s digital banking solutions.”</p>
               <cite>Jennifer Wilson</cite>
               <cite class = "position">SVP &amp; Chief Digital Officer</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/TDECU-sm.svg" alt="Tdecu Sm" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“TDECU is committed to delivering digital-first experiences that enable members to manage their accounts how they want and when they want. With Kony’s industry-leading platform and expertise, our members will benefit from an agile, state-of-the-art digital experience both today and in the future.”</p>
               <cite>Andrew Wayman</cite>
               <cite class = "position">Vice President of Digital Strategy</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/cimb-niaga-sm.svg" alt="Cimb Niaga Sm" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“Using technology as a game changer and passion to push the envelope with digitization, CIMB Niaga evolved and transformed its mobile banking apps to New GoMobile in 2017. Kony’s platform helps achieve the transition quickly and seamlessly, delivering secure, robust and convenient apps that put excellent customer experience at its top.”</p>
               <cite>Rita Mas&#039;Oen</cite>
               <cite class = "position">Operations and Information Technology Director</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/ornl-logo.svg" alt="Ornl Logo" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“Our partnership with Kony has been fantastic. Our ability to control what we are delivering and to roll out new features that excite our members and encourage them to utilize our mobile application for their financial services, that’s huge, and this application allows us to do that.”</p>
               <cite>Dawn Brummett</cite>
               <cite class = "position">SVP and Chief Operations Officer</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/tmb-sm.svg" alt="Tmb Sm" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“We have been partnering with Kony to provide an omnichannel experience both for retail customers and small to midsize businesses. With multiple apps across channels and platforms, TMB has been able to penetrate into a large user base, increase the assets.”</p>
               <cite>Lorenzo Tassan-Bassut</cite>
               <cite class = "position">Chief Operating Officer</cite>
             </div>
                       <div class="slide text-center pt-20 pb-20">
               <img src="/uploads/logos/IndusInd-Bank-sm.svg" alt="Indusind Bank Sm" class = "mb-40">
               <p class="large mb-50 mb-sm-30">“We partnered with Kony to imbibe a Mobile Application Development Platform (MADP) approach to mobile-first applications, which has helped us deliver rich app experiences that are appreciated by customers.”</p>
               <cite>Mridul Sharma</cite>
               <cite class = "position">EVP and Head Technology</cite>
             </div>
                     </div>
         <div class="next next-test"><img src="/assets/icons/carousel-arrow-r.svg" alt="arrow r"></div>
         <div class="prev prev-test"><img src="/assets/icons/carousel-arrow-l.svg" alt="arrow l"></div>
         </div>
     </div>

    <div class="pt-80 pb-50 dark-purple-background relative hidden-overflow">
      <div class="cross-background">
        </div>
        <div class="small-container">
          <div class="row align-center">
            <div class="col-lg-6 text-center mb-lg-30">
              <img src="/assets/images/phone-background-image-thing.jpg" alt="">
            </div>
            <div class="col-lg-6">
              <h2 class="white mb-10">Solution Benefits</h2>
              <p class=" white">Kony Digital Banking platform makes it possible for PSECU to deliver a seamless omnichannel experience across mobile, web, ATM, and call center channels.</p>
              <ul class = "pl-15">
                <li class="white mb-30 smol">Utilizing the Kony Retail Banking Solution allowed PSECU to bring development inhouse</li>
                <li class="white mb-30 smol">Utilizing the Kony Retail Banking Solution allowed PSECU to bring development inhouse</li>
                <li class="white smol">Utilizing the Kony Retail Banking Solution allowed PSECU to bring development inhouse</li>
              </ul>
              <a href = "" class="orange-btn purple ">Download the Full Case Study</a>

            </div>
          </div>
        </div>

    </div>


    <div class="container pt-120 pb-120 pt-lg-60 pb-lg-60 pb-mb-40">
            <div class="text-center">
              <h2 class="purple mb-70 mb-sm-40">Expertise &amp; Research</h2>
            </div>
            <div class="row">


      <div class="col-md-4 mb-30 blog-item waypoint-transition">
        <a href="https://dbx.kony.com/case-studies-psecu" target="_blank">
          <div class="img-blog-holder mb-20"><img src="/uploads/blog/_thumbnail/1242/DBX_PSECU_case_study_social_v2.jpg" alt="Dbx Psecu Case Study Social V2" class=""></div>    </a>
        <div class="pl-30 pr-30 pb-40">
          <h6 class="text-uppercase mb-15 purple">Expertise &nbsp;&nbsp;|&nbsp;&nbsp; Dec 10th 2018 </h6>
          <h4 class="mb-15 ">
            <a href="https://dbx.kony.com/case-studies-psecu" class="purple" target="_blank">PSECU Accelerates Digital Innovation with Kony to Improve Member Experience</a>
          </h4>

          <p class="smol mb-30">PSECU has partnered with Kony, Inc. to deliver an updated digital banking application to enhance ...</p>
          <div class="social-sharing">
            <div class=" text-center flex">
              <a href="#" onclick="window.open('https://twitter.com/home?status=PSECU%20Accelerates%20Digital%20Innovation%20with%20Kony%20to%20Improve%20Member%20Experiencehttps://dbx.kony.com/trends-and-insights/psecu-accelerates-digital-innovation-with-kony-to-improve-member-experience','share','resizable,height=360,width=470'); return false;" target="_blank">
                <img src="/assets/icons/twitter-small.svg" alt="Puprle Twitter">
              </a>
              <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dbx.kony.com/trends-and-insights/psecu-accelerates-digital-innovation-with-kony-to-improve-member-experience','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/facebook-small.svg" alt="Facebook">
              </a>
              <a href="#" onclick="window.open('https://plus.google.com/share?url=https://dbx.kony.com/trends-and-insights/psecu-accelerates-digital-innovation-with-kony-to-improve-member-experience','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/google-plus-small.svg" alt="Google Plus">
              </a>
              <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https://dbx.kony.com/trends-and-insights/psecu-accelerates-digital-innovation-with-kony-to-improve-member-experience&amp;title=PSECU Accelerates Digital Innovation with Kony to Improve Member Experience','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/linked-small.svg" alt="Linked In">
              </a>

            </div>
          </div>
          <a href="https://dbx.kony.com/case-studies-psecu" class="purple read-link text-uppercase" target="_blank">Read More</a>
        </div>
      </div>



      <div class="col-md-4 mb-30 blog-item waypoint-transition">
        <a href="http://forms.kony.com/what-ready-for-en-wp_asset.html" target="_blank">
          <div class="img-blog-holder mb-20"><img src="/uploads/blog/_thumbnail/what-are-you-ready-for-thumb.jpg" alt="What Are You Ready For Thumb" class=""></div>    </a>
        <div class="pl-30 pr-30 pb-40">
          <h6 class="text-uppercase mb-15 purple">Expertise &nbsp;&nbsp;|&nbsp;&nbsp; Nov 20th 2018 </h6>
          <h4 class="mb-15 ">
            <a href="http://forms.kony.com/what-ready-for-en-wp_asset.html" class="purple" target="_blank">What Are You Ready For?</a>
          </h4>

          <p class="smol mb-30">We’ve used our experience of working with financial institutions around the world for the past 10...</p>
          <div class="social-sharing">
            <div class=" text-center flex">
              <a href="#" onclick="window.open('https://twitter.com/home?status=What%20Are%20You%20Ready%20For%3Fhttps://dbx.kony.com/trends-and-insights/what-are-you-ready-for','share','resizable,height=360,width=470'); return false;" target="_blank">
                <img src="/assets/icons/twitter-small.svg" alt="Puprle Twitter">
              </a>
              <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dbx.kony.com/trends-and-insights/what-are-you-ready-for','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/facebook-small.svg" alt="Facebook">
              </a>
              <a href="#" onclick="window.open('https://plus.google.com/share?url=https://dbx.kony.com/trends-and-insights/what-are-you-ready-for','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/google-plus-small.svg" alt="Google Plus">
              </a>
              <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https://dbx.kony.com/trends-and-insights/what-are-you-ready-for&amp;title=What Are You Ready For?','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/linked-small.svg" alt="Linked In">
              </a>

            </div>
          </div>
          <a href="http://forms.kony.com/what-ready-for-en-wp_asset.html" class="purple read-link text-uppercase" target="_blank">Read More</a>
        </div>
      </div>



      <div class="col-md-4 mb-30 blog-item waypoint-transition">
        <a href="http://forms.kony.com/2019-idc-marketscape-ar_asset.html" target="_blank">
          <div class="img-blog-holder mb-20"><img src="/uploads/blog/_thumbnail/1443/IDCMarketScapeReport_social.jpg" alt="Idcmarketscapereport Social" class=""></div>    </a>
        <div class="pl-30 pr-30 pb-40">
          <h6 class="text-uppercase mb-15 purple">Research &nbsp;&nbsp;|&nbsp;&nbsp; Feb 20th 2019 </h6>
          <h4 class="mb-15 ">
            <a href="http://forms.kony.com/2019-idc-marketscape-ar_asset.html" class="purple" target="_blank">IDC MarketScape: North America Digital Banking Customer Experience Platforms 2019 Vendor Assessment</a>
          </h4>

          <p class="smol mb-30">Kony recognized as a Leader in the IDC MarketScape: North America Digital Banking Customer Experi...</p>
          <div class="social-sharing">
            <div class=" text-center flex">
              <a href="#" onclick="window.open('https://twitter.com/home?status=IDC%20MarketScape%3A%20North%20America%20Digital%20Banking%20Customer%20Experience%20Platforms%202019%20Vendor%20Assessmenthttps://dbx.kony.com/trends-and-insights/idc-marketscape-north-america-digital-banking-customer-experience-platforms-2019-vendor-assessment','share','resizable,height=360,width=470'); return false;" target="_blank">
                <img src="/assets/icons/twitter-small.svg" alt="Puprle Twitter">
              </a>
              <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=https://dbx.kony.com/trends-and-insights/idc-marketscape-north-america-digital-banking-customer-experience-platforms-2019-vendor-assessment','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/facebook-small.svg" alt="Facebook">
              </a>
              <a href="#" onclick="window.open('https://plus.google.com/share?url=https://dbx.kony.com/trends-and-insights/idc-marketscape-north-america-digital-banking-customer-experience-platforms-2019-vendor-assessment','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/google-plus-small.svg" alt="Google Plus">
              </a>
              <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&amp;url=https://dbx.kony.com/trends-and-insights/idc-marketscape-north-america-digital-banking-customer-experience-platforms-2019-vendor-assessment&amp;title=IDC MarketScape: North America Digital Banking Customer Experience Platforms 2019 Vendor Assessment','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
                <img src="/assets/icons/linked-small.svg" alt="Linked In">
              </a>

            </div>
          </div>
          <a href="http://forms.kony.com/2019-idc-marketscape-ar_asset.html" class="purple read-link text-uppercase" target="_blank">Read More</a>
        </div>
      </div>

                      </div>
          </div>



{% endblock %}
