{% set cat = craft.app.request.getParam("cat") %}
{% if cat == "All" %}
  {% set  posts = craft.entries.section("newsAndEvents").limit(12) %}
{% else %}
  {% set posts = craft.entries.section("newsAndEvents").relatedTo(craft.categories.id(cat)) %}
{% endif %}

{% for post in posts.all %}
  {% include "_partials/blog-post" %}
{% endfor %}
{% if cat == "All" and  craft.entries.section('newsAndEvents') | length > 12 %}
<div class="load-more-btn text-center mb-100 mt-60 col-12">
  Load more <img src="/assets/icons/down-arrow.svg" alt="down arrow">
</div>
{% endif %}
