{% extends "_layouts/products" %}
{% block main %}
{% cache %}

{% if entry.type == "trendsAndInsights" %}
<div class="banner-slant-jumbotron " {% if entry.bannerImage | length  %}style = "background-image: url({{ entry.bannerImage.one.url }})"{% endif %}>
<img src="/assets/icons/purple-slant.svg" alt="" role = "presentation" class = "purple-overlay">
<img src="/assets/icons/divide-bar.svg" alt="" role = "presentation" class = "bottom-bar">

  <div class="content-holder">
  <div class="half-container-right half-container ml-auto relative">
    <h1 class=" white {% if entry.title | length > 60 %}tall{% else %}h2{% endif %}">{{ entry.title }}</h1>
    <hr class="white mr-100 mt-30 mb-20 mr-md-auto ml-md-auto">
    <div class="citation flex align-center text-uppercase">
      {% if entry.postAuthor | length %}
      {% set auth = entry.postAuthor.one %}
        <img src="{{ auth.thumbnail.one.url('author') }}" alt="{{ auth.thumbnail.one.title }}" class = "small-profile-icon">
        <h4 class="white ml-15 pt-5 text-left">{{ auth.authorName }}</h4>
      {% endif %}
    </div>
</div>
</div>

</div>



<div class="container relative pt-100 pb-100 blog-post pt-lg-60  pt-md-40 pb-md-40 mt-sm-30">
  <div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="sticky-share text-center">
        <h6 class="purple text-uppercase">Share</h6>
        <a href="#" onclick="window.open('https://twitter.com/home?status={{   entry.title|url_encode }}{{   entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" target="_blank">
          <img src="/assets/icons/purple-twitter.svg" alt="Puprle Twitter">
        </a>
        <a href="#" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{   entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
          <img src="/assets/icons/purple-facebook.svg" alt="Facebook">
        </a>
        <a href="#" onclick="window.open('https://plus.google.com/share?url={{ entry.getUrl() }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
          <img src="/assets/icons/purple-googleplus.svg" alt="Google Plus">
        </a>
        <a href="#" onclick="window.open('http://www.linkedin.com/shareArticle?mini=true&url={{   entry.getUrl() }}&title={{   entry.title }}','share','resizable,height=360,width=470'); return false;" rel="nofollow" target="_blank">
          <img src="/assets/icons/purple-linkedin.svg" alt="Linked In">
        </a>

      </div>
    {% for block in entry.mainContent.all %}
      {% if block.type == "wysiwyg" %}
        {{ block.wysiwyg }}
      {% endif %}
    {% endfor %}
  </div>
  </div>
</div>


{% include "_partials/featured-product.html" %}



{% else %}
  {% include "_partials/customer-story"%}
{% endif %}

<div class="container pt-120 pb-120 pt-lg-60 pb-lg-60 pb-mb-40">
  <div class="text-center">
    <h2 class="purple mb-70 mb-sm-40">Expertise & Research</h2>
  </div>

  <div class="row">
    {% if entry.relatedPosts | length %}
      {% set posts = entry.relatedPosts %}
    {% else %}
      {% set posts =  craft.entries.section("trendsAndInsights").orderBy("postdate desc").limit(3) %}
    {% endif %}
    {% for post in posts.all  %}
      {% include "_partials/blog-post" %}
    {% endfor %}
  </div>
</div>


{% endcache %}

{% endblock %}
