{% extends "_layouts/404" %}
{% block main %}
<div class="  flex align-center justify-center gradient  dark-purple-background relative pt-250 pb-250 pt-md-100 pb-md-100 pt-sm-50 pb-sm-50">
  <div class="cross-background"></div>

  <div class="contact-modal-container text-center relative pr-30 pl-30">
    <h1 class="text-uppercase white mb-30">Something's not Right</h1>
    <p class ="white mb-70 mb-sm-40">The page you were looking for appears to have been moved, deleted or does not exist.</p>
  <a href="/"  class="btn lavendar mr-10 mr-sm-auto mb-sm-20 mr-sm-10 ml-sm-10 ">Return Home</a>
  <a href="http://forms.kony.com/digital-banking-en-contact.html"  target = "_blank" class="btn lavendar ml-10 mr-sm-auto mr-sm-10 mr-sm-10">Talk to an Advisor</a>
  </div>
</div>

{% endblock %}
