{% extends "_layouts/products" %}
{% block main %}

{% for banner in entry.banner %}
<div class="banner-slant-jumbotron small-img" {% for img in banner.image %}style="background-image: url({{ img.url }})"{% endfor %}>
  <img src="/assets/icons/why-kony-bg.svg" alt="" role="presentation" class="why-kony-pattern">
    <div class="content-holder">
      <div class="half-container-left half-container mr-auto relative ml-30">
        <h1 class=" white">{{ banner.header }}</h1>
      </div>
    </div>
  </div>
  {% endfor %}


  <div class="large-container pt-120 pt-lg-80 pb-30 pt-md-40">
<div class="row text-center mb-90 mb-sm-50 justify-center">
    {% for icon in entry.iconRow %}
          <div class="col-lg-4 col-md-6 col-12  pt-sm-25 pl-sm-20 pr-sm-20 mb-10 mb-md-20 pr-50 pl-50  pr-xl-30 pl-xl-30 pb-30 waypoint-transition {% if not loop.last %}right-border no-border-lg{% endif %}">
            <div class="bump-up">
        {% for icon in icon.icon %}<img src="{{ icon.url }}" alt="{{ icon.title }}" class="mb-10 circle-icon">{% endfor %}
        <p class="large purple">{{ icon.header }}</p>
        <p>{{ icon.description }}</p>
        </div>
      </div>
    {% endfor %}
</div>

<div class="row">
  <div class="col-12">
  <h2 class="purple text-center">{{ entry.header }}</h2>
  </div>
</div>


</div>
{% for team in entry.managementTeam.all %}
<div class="light-grey-background pt-90 pb-120 pt-lg-60 pb-lg-50">
  <div class="small-container  text-center">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 class="purple mb-15">{{ team.headline}}</h3>
        <p class ="mb-20">{{ team.description }}</p>
      </div>
    </div>

    <div class="row justify-center pl-lg-90 pr-lg-90 pl-sm-15 pr-sm-15">
      {% for member in team.teamMember %}
      <div class="col-lg-3 col-md-6 col-sm-6 mb-lg-30">
        <div class="relative">
        {% for head in member.headshot %}<img src="{{ head.url }}" alt="{{ head.title }}" style = "width: 150px; height: 150px; border-radius: 50%;">{% endfor %}
        {% if member.linkedin | length %}
        <a href="{{ member.linkedin }}" target = "_blank" class = "absolute" style = "bottom: 0; right: 34px;">
        <svg width="34px" height="34px" viewBox="0 0 34 34" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <defs>
                <polygon id="path-1" points="0 0.984 34.016 0.984 34.016 34.9998 0 34.9998"></polygon>
            </defs>
            <g id="Design" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="team" transform="translate(-1007.000000, -2000.000000)">
                    <g id="row-1-copy" transform="translate(384.000000, 1881.000000)">
                        <g id="linked-in" transform="translate(623.000000, 118.000000)">
                            <g id="Group-3" transform="translate(0.000000, 0.015700)">
                                <mask id="mask-2" fill="white">
                                    <use xlink:href="#path-1"></use>
                                </mask>
                                <g id="Clip-2"></g>
                                <path d="M17.008,34.9998 C26.403,34.9998 34.016,27.3848 34.016,17.9918 C34.016,8.5988 26.403,0.9838 17.008,0.9838 C7.614,0.9838 0,8.5988 0,17.9918 C0,27.3848 7.614,34.9998 17.008,34.9998" id="Fill-1" fill="#CCCCCC" mask="url(#mask-2)"></path>
                            </g>
                            <path d="M25.5119,25.121 L21.7529,25.121 L21.7529,19.631 C21.7529,18.194 21.1649,17.213 19.8719,17.213 C18.8829,17.213 18.3329,17.875 18.0769,18.513 C17.9809,18.742 17.9959,19.06 17.9959,19.38 L17.9959,25.121 L14.2719,25.121 C14.2719,25.121 14.3199,15.396 14.2719,14.512 L17.9959,14.512 L17.9959,16.177 C18.2159,15.449 19.4059,14.41 21.3049,14.41 C23.6609,14.41 25.5119,15.936 25.5119,19.222 L25.5119,25.121 Z M10.5059,13.184 L10.4819,13.184 C9.2819,13.184 8.5039,12.373 8.5039,11.346 C8.5039,10.298 9.3049,9.504 10.5289,9.504 C11.7519,9.504 12.5039,10.296 12.5279,11.343 C12.5279,12.371 11.7519,13.184 10.5059,13.184 Z M8.9329,25.121 L12.2479,25.121 L12.2479,14.512 L8.9329,14.512 L8.9329,25.121 Z" id="Fill-4" fill="#FFFFFF"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        </a>
        {% endif %}
        </div>



        <h4 class="purple">{{ member.title }}</h4>
        <h5 class="grey">{{ member.jobTitle }}</h5>
      </div>
      {% endfor %}


    </div>
  </div>
</div>

{% endfor %}


{% for gallery in entry.gallery %}



<div class="purple-gradient-background bottom-bar-background pt-120 pb-100 pt-lg-60 pb-lg-80 pb-sm-50 pt-sm-50">
  <div class="small-container">
  <div class="row align-center justify-center text-center">
  <div class="col-lg-8 ">
    <h3 class="white mb-10">{{ gallery.header }}</h2>
    <p class="white mb-30">{{ gallery.descriptions }}</p>
  </div>
  </div>
  </div>
      <div class="container mb-80">
  <div class="row">
    <div class="col-12 relative pr-xl-60 pl-xl-60">
      <div class="connect-prev">
        <img src="/assets/icons/purple-arrow-left.svg" alt="" role = "presentation">
      </div>
      <div class="connect-next">
        <img src="/assets/icons/purple-arrow-right.svg" alt="" role = "presentation">
      </div>
      <div class="img-carousel">
        {% for img in gallery.gallery %}
          <div class="pl-5 pr-5">
            <img src="{{ img.url }}" alt="{{ img.title }}" class = "img-responsive">
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
    </div>
    <div class="small-container">
  <div class="row">
    <div class="col-12 text-center">
          <a href="#" class="white-link contact-btn">Connect With Us</a>
    </div>
  </div>
</div>
</div>


{% endfor %}





  {% set post = entry.featuredPost.one %}

  <div class=" pt-120 pb-120 pt-lg-60 pb-lg-60">
    <div class="small-container">


{% include "_partials/related-article-white"%}
</div>
</div>

{% endblock %}
